<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <section name="Version" type="System.Configuration.NameValueSectionHandler" />
    <section name="Settings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <log4net configSource="Configuration\Logs.config" />
  <Version configSource="Configuration\Version.config" />
  <Settings configSource="Configuration\OutlandSpace.config" />
</configuration>