<Settings>
  <!--
  
  
  <add key="ClientWidth" value="1536" />
  <add key="ClientHeight" value="864" />
  
  <add key="ClientWidth" value="1024" />
  <add key="ClientHeight" value="768" />
  
  <add key="ClientWidth" value="1280" />
  <add key="ClientHeight" value="720" />
  -->

  <add key="ClientWidth" value="1920" />
  <add key="ClientHeight" value="1080" />

  <add key="ServerAddress" value="http://localhost:8080" />

  <!--
  Types:
    1. External Scala Server
    2. Mock local static server
    3. Local CSharp Server
  -->
  <add key="ServerType" value="3" />


</Settings>